<h1 class="headerFont">@ViewBag.Title</h1>
<div class="navbarInfo">
    @*<img src="~/img/animeDevilGirl3.png" />*@
    <h2 class="headerFont">Content</h2>
    <ul class="navbarBasic" style="display:none;">
        <li><a href="/">Home</a></li>
        <li><a href="/app/contact">Contact</a></li>
        <li><a href="/app/about">About</a></li>
        <li><a href="/app/Development">Development</a></li>
        <li><a href="/app/Reviews">Game Reviews</a></li>
    </ul>
</div>

