body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rcorners1 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 5px;
    width: 400px;
    height: 550px;
}

.rcorners2 {
    border-radius: 30px;
    border: 2px solid #73AD21;
    padding: 5px;
    width: 600px;
    height: 100px;
}

.navbarInfo {
    border: 2px solid #73AD21;
    border-radius: 30px;
    padding: 7px;
    display: inline-block;
    margin: 5px;
    width: 750px;
    background-color: #73AD21; /*undo this if you want white background*/
}

.navbarInfo li {
    list-style-type: none;
}

.navbarInfo img{
    margin: 2px;
    float: left;
    max-width: 450px; /* undo this if you want the image larger*/
}

ul.navbarBasic {
    font-size: small;
}
ul.navbarBasic li{
    list-style-type: none;
}